.output{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:40%;
    left:25%;
    border: solid grey;
    padding:5rem;
    border-radius: 5rem;
}